@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');

.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Cute+Font';
}
h5 {
	font-family: 'Cute+Font';
	font-size: 18px;
}
body {
	font-family: 'Nanum+Gothic';
}